
:root {
    --bg: #fefae0;
    --text: #000000;
    --toast-bg: #faedcd;
  }
  
  [data-theme="dark"] {
    --bg: #121212;
    --text: #f5f5f5;
    --toast-bg: #333;
  }
  
  [data-theme="spacey"] {
    --bg: #081b33;
    --text: #cde7ff;
    --toast-bg: #1a2a40;
  }


html, body {
    height: 100%;
    margin: 0;
    padding: 0px;
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Inter', sans-serif;
   
  }
  h1, h2, h3, h4 {
    font-family: 'Playfair Display', Georgia, serif;
  }

  button {
    all: unset;
    box-sizing: border-box;
  }
  

.dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "weekly-goals misc"
    "goal-review goal-review";
    

}

.goal-form{
    grid-area:form
}

.goal-row{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.goal-row span{
  flex-grow: 1;
}

.goal{
  border: solid #1a2a40 1px;
  border-radius: 5px;
  padding: 4px 8px;
}

.weekly-goals{
    grid-area: weekly-goals;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0px 15px;
}

.misc{
    grid-area: misc
}

.goal-review{
    grid-area: goal-review
}

.completed-text {
  text-decoration: line-through;
  opacity: 0.6;
  color: #777;
  transition: opacity 0.2s ease-in-out;
}

